@import 'variables', 'fonts', 'reset';


#header {
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 1000;
    .h-inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1440px;
        padding: 0 20px;
        width: 100%;
        height: 100%;
    }
    .logo {
        width: 110px;
        height: 70px;
        background-image: url(../../images/bacchus-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        a {
            display: block;
            width: 100%;
            height: 100%;
            color: transparent;
        }
    }
    .menu-icon {
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        span {
            display: block;
            width: 33px;
            height: 3px;
            background: white;
            transition: all 0.3s;
            border: 1px solid $primary;
        }
        .span1.click {
            transform: rotate(45deg) translateX(5px) translateY(10px);
        }
        .span3.click {
            transform: rotate(-45deg) translateX(8px) translateY(-13px);
            transform-origin: center;
        }
        .span2.click {
            opacity: 0;
        }
    }
    .menu-list {
        position: absolute;
        top: 80px;
        right: 20px;
        display: none;
        ul {
            display: flex;
            flex-direction: column;
            padding: 15px 0;
            background: white;
            border: 1px solid $primary;
            border-radius: 10px;
        }
        a {
            text-align: center;
            display: block;
            padding: 10px 40px;
            color: $text;
            &:hover {
                font-weight: 700;
                color: $point;
            }
        }
    }
}

h3 {
    padding: 0 20px;
    text-align: center;
    font-size: 3rem;
}

.intro {
    background: $primary;
    h2 {
        position: relative;
        padding: 360px 0 100px;
        text-align: center;
        color: white;
        font-size: 4rem;
        z-index: 50;
    }
    .intro-img {
        position: absolute;
        top: 180px;
        opacity: 0.9;
    }
    .intro-img1 {
        left: -100px;
    }
    .intro-img2 {
        right: -100px;
    }
    .intro-box {
        margin: 20px 20px 0 20px;
        height: 100vh;
        border-radius: 20px;
        overflow: hidden;
        transform: scale(0.4);
        .intro-bg {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-image: url(../../images/intro-bg.jpg);
            background-position: center;
            background-size: cover;
            z-index: -100;
        }
        .intro-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            strong {
                text-align: center;
                font-size: 3rem;
                span {
                    color: $point;
                }
            }
            > span {
                display: block;
                width: 100%;
                text-align: right;
                color: white;
            }
        }
    }
}

.full-screen { 
    width: 100%; 
    height: 300vh; 
    text-align: center; 
    font-size: 6rem; 
    line-height: 100vh; 
    overflow: hidden;
    white-space: nowrap;
    background: $primary;
    p {
        text-align: center;
        font-size: 10rem;
        font-weight: 900;
        color: $primary;
        -webkit-text-stroke: 3px $point;
    }
    .title {
        position: fixed;
        top: 0;
        display: inline-block;
        color: white;
    }
}
.bacchus-history {
    height: 100vh;
    h3 {
        padding: 100px 0;
    }
    .history-wrap {
        display: flex;
        // margin: 0 auto;
        padding: 0 100px;
        // max-width: 1440px;
        width: 5440px;
    }
    .history {
        width: 600px;
        overflow: hidden;
    }
    .history-text {
        padding: 0 20px ;
        strong {
            font-size: 4rem;
            line-height: 1.2;
            color: $lighter;
        }
        span {
            display: block;
            font-size: 2.5rem;
            font-weight: 700;
        }
        p {
            padding: 20px 0 40px;
        }
    }
}
.poster-img {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        padding: 35px 0;
        text-align: center;
        white-space: nowrap;
        font-size: 4rem;
        font-weight: 700;
        opacity: 0.1;
        transition: all 0.3s;
        &:hover {
            opacity: 1;
        }
    }
    span {
        color: $lighter;
    }
    img {
        position: absolute;
        top: 0;
        z-index: -100;
        opacity: 0;
        transition: all 0.5s;
    }
    .img1,
    .img3 {
        left: 0;
    }
    .img2,
    .img4 {
        right: 0;
    }
    .list1:hover + .img1 {
        opacity: 0.5;
    }
    .list2:hover + .img2 {
        opacity: 0.5;
    }
    .list3:hover + .img3 {
        opacity: 0.5;
    }
    .list4:hover + .img4 {
        opacity: 0.5;
    }
}
.bacchus-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 200px 0;
    .info-wrap {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .info-box {
        width: 280px;
        text-align: center;
        .product-img {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 450px;
            &::before {
                content: '';
                position: absolute;
                top: 40%;
                left: 40%;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: $point;
                z-index: -100;
                transition: all 0.2s;
            }
            &:hover{
                &::before {
                    top: 111px;
                    left: -11px;
                    width: 300px;
                    height: 300px;
                }
            }
        }
        img {
            height: 100%;
            object-fit: cover;
        }
        p {
            padding-bottom: 10px;
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
            color: $text;
        }
        span {
            display: block;
            padding-bottom: 30px;
            color: $lighter;
        }
    }
}
.bacchus-type {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    h3 {
        text-align: left;
    }
    .type-box {
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .type-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;
            width: calc(100% - 100px);
            height: calc(100% - 100px);
            border-radius: 20px;
        }
        .title-wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;
            h3 {
                padding: 0;
            }
            span {
                font-size: 1.3rem;
                font-weight: 700;
            }
        }
        .detail-wrap {
            padding-top: 30px;
            font-size: 0.9rem;
            dl {
                display: flex;
                padding-top: 35px;
            }
            dt {
                width: 90px;
                font-weight: 600;
            }
            dd {
                width: 430px;
            }
        }
        .img-wrap {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    #type1,
    #type3 {
        color: white;
        background: $primary;
    }
    #type2 {
            background: white;
    }
}
.bacchus-jelly {
    padding: 200px 0;
    width: 100%;
    height: 100%;
    text-align: center;
    .jelly-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .jelly-box {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        padding-top: 120px;
        width: 33%;
        height: 100%;
        strong {
            padding-top: 30px;
            font-size: 2rem;
        }
        p {
            padding: 20px 0 30px;
        }
        .jelly-img {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 40%;
                left: 40%;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: $point;
                z-index: -100;
                transition: all 0.2s;
            }
            &:hover{
                &::before {
                    top: 4px;
                    left: -4px;
                    width: 300px;
                    height: 300px;
                }
            }
            img {
                width: 100%;
            }
        }
        .jelly-btn {
            padding: 0 60px;
            height: 50px;
            line-height: 50px;
            border-radius: 34px;
            color: white;
            background: $lighter;
            transition: all 0.2s;
            &:hover {
                background: $point;
            }
        }
    }
}
.bacchus-world {
    padding-top: 100px;
    width: 100%;
    h3 {
        margin-bottom: 100px;
        .bacchus {
            color: $point;
        }
    }
    .world-wrap {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 50px 0 200px;
        max-width: 1440px;
        width: 100%;
        .world-map {
            position: absolute;
            top: 50px;
            transform: scale(1.5);
            z-index: -100;
            opacity: 0.3;
        }
    }
    .count-box {
        width: 60%;
        ul {
            display: flex;
            flex-wrap: wrap;
        }
        li {
            width: 33.3%;
            span {
                display: block;
            }
            .counter {
                font-size: 2rem;
                font-weight: 700;
            }
            .area {
                padding: 10px 0 80px;
                font-size: 1.5rem;
            }
        }
    }
}
.faq {
    .faq-wrap {
        margin: 60px auto 100px;
        max-width: 1440px;
        border-bottom: 1px solid $text;
    }
    li {
        border-top: 1px solid $text;
    }
    .faq-title {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 30px 20px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: $lighter;
            z-index: -100;
        }
        &:hover::before {
            width: 100%;
        }
        &:hover {
            span {
                color: white;
            }
        }
        span {
            font-size: 1.5rem;
            font-weight: 600;
        }
        i {
            padding-top: 18px;
        }
    }
    .faq-desc {
        display: none;
        padding: 40px 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        table {
            margin: 20px 0;
        }
        caption {
            padding-bottom: 20px;
            text-align: left;
            font-size: 1.25rem;
            font-weight: bold;
        }
        thead {
            font-weight: bold;
        }
        td {
            padding: 10px 30px 10px 0;
        }
    }
}

#footer {
    color: white;
    background: $primary;
    .f-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding: 60px 20px;
        font-size: 0.875rem;
    }
    .address {
        text-align: center;
    }
    .brand-site {
        position: relative;
        width: 225px;
        height: 35px;
        border: 1px solid white;
        p {
            display: block;
            padding: 0 10px;
            width: 100%;
            height: 100%;
            line-height: 30px;
            color: white;
            cursor: pointer;
        }
        ul {
            position: absolute;
            left: -2px;
            bottom: 33px;
            display: none;
            width: 227px;
            z-index: 100;
            border: 1px solid $primary;
            background: white;
        }
        li {
            color: $text;
            border-top: 1px solid $primary;
            a {
                display: block;
                padding: 5px 10px;
                color: $text;
            }
            &:hover {
                background: rgba(22, 10, 139,0.6);
                a {
                    color: white;
                }
            }
        }
    }
    .copyright {
        font-size: 0.75rem;
        font-weight: 200;
    }
}
@media screen and (max-width: 1200px) {
    .intro {
        h2 {
            font-size: 3.5rem;
        }
        .intro-img1 {
            left: -150px;
        }
        .intro-img2 {
            right: -200px;
        }
    }
    .full-screen {
        p {
            font-size: 7rem;
        }
    }
    .bacchus-world {
        .world-wrap {
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 0;
        }
        .count-box {
            width: 100%;
            ul {
                padding: 60px 20px 0;
            }
            li {
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .intro {
        img {
            display: none;
        }
        .intro-box {
            height: 60vh;
            .intro-text strong {
                font-size: 2.5rem;
            }
        }
    }
    .bacchus-history {
        .history-text {
            strong {
                font-size: 3rem;
            }     
            span {
                font-size: 2rem;
            }   
        }
    }
    .poster-img {
        display: none;
    }
    .bacchus-info {
        .info-wrap {
            flex-direction: column;
            align-items: center;
        }
        .info-box {
            padding-top: 100px
        }
    }
    .bacchus-type {
        h3 {
            font-size: 2rem;
        }
        .type-box {
            padding: 0 20px;
            .type-inner {
                flex-direction: column-reverse;
                width: 100%;
            }
            .text-wrap {
                white-space: wrap;
            }
            .title-wrap {
                span {
                    font-size: 1rem;
                }
            }
            .detail-wrap {
                padding-top: 15px;
                dl {
                    flex-direction: column;
                    padding-top: 25px;
                }
                dd {
                    width: auto;
                }
            }
            .img-wrap {
                height: 45%;
            }
        } 
    }
    .bacchus-jelly {
        .jelly-wrap {
            flex-direction: column;
            align-items: center;
        }
        .jelly-box {
            width: 100%;
        }
    }
}
@media screen and (max-width: 475px) {
    
}