@import 'variables', 'fonts', 'reset';


#header {
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 1000;
    .h-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1440px;
        padding: 0 20px;
        width: 100%;
        height: 100%;
    }
    .logo {
        width: 110px;
        height: 70px;
        background-image: url(../../images/bacchus-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        a {
            display: block;
            width: 100%;
            height: 100%;
            color: transparent;
        }
    }
    .menu-icon {
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        span {
            display: block;
            width: 30px;
            height: 1px;
            background: white;
            transition: all 0.3s;
        }
    }
}

h3 {
    font-size: 3rem;
}

.intro {
    background: $primary;
    h2 {
        padding: 350px 0 50px;
        text-align: center;
        color: white;
        font-size: 4rem;
    }
    .intro-box {
        margin: 20px 20px 0 20px;
        height: 100vh;
        border-radius: 20px;
        overflow: hidden;
        transform: scale(0.4);
        .intro-bg {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-image: url(../../images/intro-bg.jpg);
            background-position: center;
            background-size: cover;
            z-index: -100;
        }
        .intro-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        strong {
            text-align: center;
            font-size: 3rem;
        }
        span {
            display: block;
            width: 100%;
            text-align: right;
            color: white;
        }
    }
}

.full_screen { 
    width: 100%; 
    height: 300vh; 
    text-align: center; 
    font-size: 6rem; 
    line-height: 100vh; 
    overflow: hidden;
    white-space: nowrap;
    background: $primary;
    p {
        text-align: center;
        font-size: 10rem;
        font-weight: 900;
        color: $primary;
        -webkit-text-stroke: 1px white;
    }
    .title {
        position: fixed;
        top: 0;
        display: inline-block;
        color: white;
    }
}

.bacchus-type {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
 
.bacchus-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
    .info-wrap {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .info-box {
        .product-img {
            height: 450px;
        }
        img {
            height: 100%;
            object-fit: cover;
        }
        p {
            text-align: center;
            font-size: 2rem;
            color: $text;
        }
    }
}
.type-box {
    position: absolute;
	top: 0px;
	left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
    .type-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        border-radius: 20px;
    }
    .title-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
            font-size: 1.3rem;
            font-weight: 700;
        }
    }
    .detail-wrap {
        padding-top: 30px;
        font-size: 0.9rem;
        dl {
            display: flex;
            padding-top: 35px;
        }
        dt {
            width: 90px;
            font-weight: 600;
        }
        dd {
            width: 430px;
        }
    }
}
.type1,
.type3 {
    color: white;
    background: $primary;
}
.type2 {
        background: white;
}

.bacchus-jelly {
    padding: 200px 0;
    width: 100%;
    height: 100%;
    text-align: center;
    .jelly-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .jelly-box {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        padding-top: 120px;
        width: 33%;
        height: 100%;
        strong {
            font-size: 1.5rem;
        }
        .jelly-btn {
            padding: 0 60px;
            height: 50px;
            line-height: 50px;
            border-radius: 34px;
            color: white;
            background: $lighter;
            transition: all 0.2s;
            &:hover {
                background: $point;
            }
        }
    }
}
