@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

img {
  line-height: 0;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  background: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
  color: #202020;
  font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

#header {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1000;
}
#header .h-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}
#header .logo {
  width: 110px;
  height: 70px;
  background-image: url(../../images/bacchus-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
}
#header .menu-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
#header .menu-icon span {
  display: block;
  width: 33px;
  height: 3px;
  background: white;
  transition: all 0.3s;
  border: 1px solid #160A8B;
}
#header .menu-icon .span1.click {
  transform: rotate(45deg) translateX(5px) translateY(10px);
}
#header .menu-icon .span3.click {
  transform: rotate(-45deg) translateX(8px) translateY(-13px);
  transform-origin: center;
}
#header .menu-icon .span2.click {
  opacity: 0;
}
#header .menu-list {
  position: absolute;
  top: 80px;
  right: 20px;
  display: none;
}
#header .menu-list ul {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  background: white;
  border: 1px solid #160A8B;
  border-radius: 10px;
}
#header .menu-list a {
  text-align: center;
  display: block;
  padding: 10px 40px;
  color: #202020;
}
#header .menu-list a:hover {
  font-weight: 700;
  color: #EC0928;
}

h3 {
  text-align: center;
  font-size: 3rem;
}

.intro {
  background: #160A8B;
}
.intro h2 {
  position: relative;
  padding: 360px 0 50px;
  text-align: center;
  color: white;
  font-size: 4rem;
  z-index: 50;
}
.intro .intro-img {
  position: absolute;
  top: 180px;
  opacity: 0.9;
}
.intro .intro-img1 {
  left: -100px;
}
.intro .intro-img2 {
  right: -100px;
}
.intro .intro-box {
  margin: 20px 20px 0 20px;
  height: 100vh;
  border-radius: 20px;
  overflow: hidden;
  transform: scale(0.4);
}
.intro .intro-box .intro-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../../images/intro-bg.jpg);
  background-position: center;
  background-size: cover;
  z-index: -100;
}
.intro .intro-box .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.intro .intro-box .intro-text strong {
  text-align: center;
  font-size: 3rem;
}
.intro .intro-box .intro-text strong span {
  color: #EC0928;
}
.intro .intro-box .intro-text > span {
  display: block;
  width: 100%;
  text-align: right;
  color: white;
}

.full_screen {
  width: 100%;
  height: 300vh;
  text-align: center;
  font-size: 6rem;
  line-height: 100vh;
  overflow: hidden;
  white-space: nowrap;
  background: #160A8B;
}
.full_screen p {
  text-align: center;
  font-size: 10rem;
  font-weight: 900;
  color: #160A8B;
  -webkit-text-stroke: 3px #EC0928;
}
.full_screen .title {
  position: fixed;
  top: 0;
  display: inline-block;
  color: white;
}

.bacchus-history {
  height: 100vh;
}
.bacchus-history h3 {
  padding: 100px 0 80px;
}
.bacchus-history .history-wrap {
  display: flex;
  padding: 0 100px;
  width: 5440px;
}
.bacchus-history .history {
  width: 600px;
  overflow: hidden;
}
.bacchus-history .history-text {
  padding: 0 20px;
}
.bacchus-history .history-text strong {
  font-size: 4rem;
  line-height: 1.2;
  color: #1616b3;
}
.bacchus-history .history-text span {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
}
.bacchus-history .history-text p {
  padding: 20px 0 40px;
}

.text-bling {
  width: 100%;
}
.text-bling p {
  padding: 35px 0;
  text-align: center;
  white-space: nowrap;
  font-size: 4rem;
  font-weight: 700;
  opacity: 0.1;
  transition: all 0.3s;
}
.text-bling p:hover {
  opacity: 1;
}
.text-bling span {
  color: #1616b3;
}

.bacchus-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 200px 0;
}
.bacchus-info .info-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.bacchus-info .info-box {
  width: 280px;
  text-align: center;
}
.bacchus-info .info-box .product-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
}
.bacchus-info .info-box .product-img::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #EC0928;
  z-index: -100;
  transition: all 0.2s;
}
.bacchus-info .info-box .product-img:hover::before {
  top: 111px;
  left: -11px;
  width: 300px;
  height: 300px;
}
.bacchus-info .info-box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bacchus-info .info-box p {
  padding-bottom: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #202020;
}
.bacchus-info .info-box span {
  display: block;
  padding-bottom: 30px;
  color: #1616b3;
}

.bacchus-type {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bacchus-type h3 {
  text-align: left;
}
.bacchus-type .type-box {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.bacchus-type .type-box .type-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  border-radius: 20px;
}
.bacchus-type .type-box .title-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bacchus-type .type-box .title-wrap span {
  font-size: 1.3rem;
  font-weight: 700;
}
.bacchus-type .type-box .detail-wrap {
  padding-top: 30px;
  font-size: 0.9rem;
}
.bacchus-type .type-box .detail-wrap dl {
  display: flex;
  padding-top: 35px;
}
.bacchus-type .type-box .detail-wrap dt {
  width: 90px;
  font-weight: 600;
}
.bacchus-type .type-box .detail-wrap dd {
  width: 430px;
}
.bacchus-type #type1,
.bacchus-type #type3 {
  color: white;
  background: #160A8B;
}
.bacchus-type #type2 {
  background: white;
}

.bacchus-jelly {
  padding: 200px 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.bacchus-jelly .jelly-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.bacchus-jelly .jelly-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  width: 33%;
  height: 100%;
}
.bacchus-jelly .jelly-box strong {
  padding-top: 30px;
  font-size: 1.75rem;
}
.bacchus-jelly .jelly-box p {
  padding: 20px 0 30px;
}
.bacchus-jelly .jelly-box .jelly-img {
  position: relative;
}
.bacchus-jelly .jelly-box .jelly-img::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #EC0928;
  z-index: -100;
  transition: all 0.2s;
}
.bacchus-jelly .jelly-box .jelly-img:hover::before {
  top: 4px;
  left: -4px;
  width: 300px;
  height: 300px;
}
.bacchus-jelly .jelly-box .jelly-btn {
  padding: 0 60px;
  height: 50px;
  line-height: 50px;
  border-radius: 34px;
  color: white;
  background: #1616b3;
  transition: all 0.2s;
}
.bacchus-jelly .jelly-box .jelly-btn:hover {
  background: #EC0928;
}

.bacchus-world {
  padding-top: 100px;
  width: 100%;
}
.bacchus-world h3 {
  margin-bottom: 100px;
}
.bacchus-world h3 .bacchus {
  color: #EC0928;
}
.bacchus-world .world-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0 200px;
  max-width: 1440px;
  width: 100%;
}
.bacchus-world .world-wrap .world-map {
  position: absolute;
  top: 50px;
  transform: scale(1.5);
  z-index: -100;
  opacity: 0.3;
}
.bacchus-world .count-box {
  width: 60%;
}
.bacchus-world .count-box ul {
  display: flex;
  flex-wrap: wrap;
}
.bacchus-world .count-box li {
  width: 33.3%;
}
.bacchus-world .count-box li span {
  display: block;
}
.bacchus-world .count-box li .counter {
  font-size: 2rem;
  font-weight: 700;
}
.bacchus-world .count-box li .area {
  padding: 10px 0 80px;
  font-size: 1.5rem;
}

.faq .faq-wrap {
  margin: 60px auto 100px;
  max-width: 1440px;
  border-bottom: 1px solid #202020;
}
.faq li {
  border-top: 1px solid #202020;
}
.faq .faq-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.faq .faq-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #1616b3;
  z-index: -100;
}
.faq .faq-title:hover::before {
  width: 100%;
}
.faq .faq-title:hover span {
  color: white;
}
.faq .faq-title span {
  font-size: 1.5rem;
  font-weight: 600;
}
.faq .faq-title i {
  padding-top: 18px;
}
.faq .faq-desc {
  display: none;
  padding: 20px 20px 40px;
}
.faq .faq-desc table {
  margin: 20px 0;
}
.faq .faq-desc caption {
  padding-bottom: 20px;
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
}
.faq .faq-desc thead {
  font-weight: bold;
}
.faq .faq-desc td {
  padding: 10px 30px 10px 0;
}

#footer {
  color: white;
  background: #160A8B;
}
#footer .f-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 60px 20px;
  font-size: 0.875rem;
}
#footer .address {
  text-align: center;
}
#footer .brand-site {
  position: relative;
  width: 225px;
  height: 35px;
  border: 1px solid white;
}
#footer .brand-site p {
  display: block;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: white;
  cursor: pointer;
}
#footer .brand-site ul {
  position: absolute;
  left: -2px;
  bottom: 33px;
  display: none;
  width: 227px;
  z-index: 100;
  border: 1px solid #160A8B;
  background: white;
}
#footer .brand-site li {
  color: #202020;
  border-top: 1px solid #160A8B;
}
#footer .brand-site li a {
  display: block;
  padding: 5px 10px;
  color: #202020;
}
#footer .brand-site li:hover {
  background: rgba(22, 10, 139, 0.6);
}
#footer .brand-site li:hover a {
  color: white;
}
#footer .copyright {
  font-size: 0.75rem;
  font-weight: 200;
}/*# sourceMappingURL=comm.css.map */